.nodes {
  width: 80%;
  margin: 50px auto;
}

.nodes .list {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #21bbd7;
  margin-top: 20px;
}

.nodes .list table {
  width: 90%;
  margin: 50px auto;
  padding: 50px 50px;
  border-collapse: collapse;
}

.nodes .list th {
  text-align: left;
}

.nodes .list td, th {
  padding: 15px 30px;
}

.nodes .list tr#header {
  background-color: #f6f7fb;
  border: solid 2px #21bbd7;
}

.nodes .list tr#node {
  border: solid 1px #21bbd7;
  border-width: 1px 0;
  margin: 10px 20px;
}
